/* @import-normalize; */

/* import "../node_modules/normalize.css/normalize.css"; */

/* RESET CSS HERE: */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* INDEX STYLE HERE: */

:root {
  --main-font: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 986px;
  margin: 0 auto;
  box-sizing: content-box;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 68px;
  padding-bottom: 100px;
  background: linear-gradient(92.33deg, #087990 0.12%, #055160 100%);
}

.header__title {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-size: 72px;
  font-weight: 700;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  color: #cff4fc;
}

.header__description {
  font-family: var(--main-font);
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #cff4fc;
}

.header__search {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 4px;
}

.header__input {
  padding: 22px 0px 21px 32px;
  box-sizing: border-box;
  min-width: 820px;
  min-height: 64px;
}

.header__input::placeholder {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #abb5be;
}

.main {
  padding-top: 80px;
  padding-bottom: 50px;

  background: #edeef3;
}

.grid__container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 19px;
}

.grid__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px;

  border: 1px solid #dee2e6;
  border-radius: 4px;
  background: #ffffff;
}

.card__emoji {
  font-family: var(--main-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.card__title {
  margin-top: 18px;
  margin-bottom: 12px;

  font-family: var(--main-font);
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;

  text-decoration: underline;
}

.card__description {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #3f444a;
}

.footer::before {
  display: block;
  content: "";
  margin-bottom: 19px;

  width: 100%;
  height: 1px;
  background-color: #ced4da;
}

.footer {
  /* padding-top: 19px; */
  padding-bottom: 19px;
  background: #edeef3;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination__button {
  padding: 12px;
  margin-right: 1px;
  font-family: var(--main-font);
  color: #055160;
  background-color: #ffffff;
}

.pagination__button:focus {
  color: #ffffff;
  background-color: #055160;
}
